<a href="https://colab.research.google.com/github/Areeba-GitHub/Areeba-GitHub/blob/main/Untitled75.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notes

**AI:**

There are two types of AI:

1.	General AI: it is more predefined. E.g: a printer can enhance with the writing fonts, colourful pictures with caption and designed borders at the same time.

2. Narrow AI: it is less predefined. E.g: a printer that can only enhance writing fonts.

AI consists of:

•	Sense of Sight: Computer Vision.

•	Sense of Texting: Natural Language Processing.

•	Sense of Speaking: Speech AI.

The Revolutions:

1.	Heat energy(Industrial Revolution)

2. Electricity

3.	Computer

4.	AI (Artificial intelligence)

•	The AI that is able to generate text, images, audios, videos are known as Generative AI based products. In simple words, it can call as Data product or AI products. E.g: ChatGPT

Data Driven AI Trends:

1. Machine learning: Machine learn the patterns of data through binary numbers        arranged in Matrices. The machine learn equations and classify the labels.

2.	Deep learning: it learns through Artificial Neural Networks. Artificial neural combines to form an equations. Every neural contains its own mathematical calculations which are getting performed.

3.	Reinforcement learning: Agent learn through conditions of Reward and Punishment. For instance: Humans safe themselves from those things that are very dangerous as punishment but they like the things that are useful and important considered as rewards.

4.	Data Science: Calculations of Machine Learning, Deep Learning, and Reinforcement Learning. It understands data and identifies which model is more accurate. It consists of:

   * Computer Science: If we apply statistics to excel sheet, this is computer science.

   * Math Statistics: The languages are understood by Math Statistics.

   * Domain Knowledge: It is the professional knowledge.

**Classification:**

In different cases, there will be different classification shapes. For instance: there are dots and stars drawn on a whiteboard, and different shapes are drawn by everyone that is surrounded by all the dots and stars. In this case, there can be two types of Classification:

1.	Project Classification: If shape separate dots and stars completely.

2.	Miss Classification: If shape does not separate all of them.

**Steps of Data Science:**

Data —> Knowledge —> Decision —> Action

**How Machine Learning works?**
                                                         
Training Data —> Algorithm —> Model

New Data —> Model —> Prediction

*Explanation:*

•	Training Data : some samples to train models.

•	Algorithms : Set of rules and instruction.

•	Model : Trained through Algorithms by the Training Data.

•	New Data : Different Data from Training Samples to test the Model.

•	Prediction : Model gives predictions after classification of New Data.

AI has three parts :-

 Dataset —> Learning Algorithms —> Prediction!

*Explanation:*

•	Datasets : A dataset is a collection of curated data.

* Images

* Measurements

* Text

* Video Recordings

•	Algorithm: we need to follow steps in Algorithms as we used ingredients and steps to make Biryani. Without steps, Biryani is not cooked.

•	Prediction: Algorithms predict movies in Netflix using chips that store history of our clicks.

# Python

* Python is a beginner friendly and general purpose programming language which offers many uses
such as Machine learning and Algorithms, Data Science e.t.c.

* It is also case sensitive which means a is not equal to A, so be carefull!!!

Data types:

* String: any data in quotation.
* Integers: all whole no.
* Float: all decimal no.
* Boolean: only True and False

In [ ]:
# In Python, functions are reusable and useful block that structure codes.
print('hello') #print function helps to print data in the arguments.
print(type('hello'))#type function helps to know the datatype of the data.
print(len('hello'))#len function helps to know the length of data in arguments.

hello
<class 'str'>
5

In [ ]:
#variable = value
name = "Areeba"
print(name)

Areeba

In [ ]:
name = "Areeba Fatima"
age = 11
Class = 6
print('My name is', name, ".", 'I study in', Class, 'and I am ', age, 'years old')

My name is Areeba Fatima . I study in 6 and I am  11 years old

# Lists

List is a versatile data structure to store multiple data at a time in [  ]

Syntax:-
   Variable = [data, data, data]

There are two types of list:

Homogeneous list: with only one data type.
Hetregenous list: with more than one data type

In [ ]:
#creating a list of one data type:
list1 = [1,3,6,7,9]
list2 = ['Areeba', 'Mariam', 'Zahra']
list3 = [4.7, 8.8, 7.0, 6.9, 8.2, 2.0]
print(list1)
print(list2)
print(list3)
print(type(list1))
print(type(list2))
print(type(list3))
print(len(list1))
print(len(list2))
print(len(list3))

#creating a mixed-datatype list:
list4 = ['Samrah', '7', '8.0']
print(list4)
print(type(list4))
print(len(list4))

[1, 3, 6, 7, 9]
['Areeba', 'Mariam', 'Zahra']
[4.7, 8.8, 7.0, 6.9, 8.2, 2.0]
<class 'list'>
<class 'list'>
<class 'list'>
5
3
6
['Samrah', '7', '8.0']
<class 'list'>
3

#Acessing Element in a List

* Elements in a List can be assesed through indexing. Python uses zero-based indexing which means the first element will be at 0.

* Elements can also be assesed by negative indexing in which the last element in the List will be -1.


Syntax: fruits = ['apple', 'orange', 'mango]

print(fruits[2]) *#indexing(positive)*

print(fruits[-2]) *#indexing(negtive)*

Output:  mango (The elements will be same)

In [ ]:
Marks = [2.9, 8.0, 7.9, 8.7]
print(Marks[1])
print(Marks[-3])

8.0
8.0

# Dictionary

Dictionaries are very helpful in storing a well organized data against key values in { } brackets. It is more organised than list because the keys are useful for demostrating values more nicely.

Syntax: fruits = {'citrus' : 'orange',
'sweet' : mango}

if we want to store multiple data against one key, then we use list in dictionary.

Syntax: fruits = {'citrus' :['orange',
'lime'], 'sweet' : ['mango', Watermelon,
'melon']}

We can also acess elements in a dictionary.

print(fruits['citrus'][0])

In [ ]:
school = {'students':['Hira', 'Zunairah'], 'Marks' : [8,7.1]}
print(school)
print(school['students'][0])
print(school['Marks'][0])#output: Hira,8. it means Hira has got 8 marks.

{'students': ['Hira', 'Zunairah'], 'Marks': [8, 7.1]}
Hira
8

#For Loop

* It is a versatile and useful constructs for iteratation. It is most frequently used to generate tables by for loop.
The range function helps to define range to the compiler

Syntax :

for i in range(4):

print(i)

E.g: A pendrom --> variable(for loop) --> performs iteration --> in iterable things

A --> B

A <-- B

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
Name = 'Areeba'
for i in (Name):
  print(i)

A
r
e
e
b
a

In [ ]:
#nested for loops
for x in range(1, 11):
    for y in range(6):
        print(x, 'x', y, '=', x*y)

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50

In [ ]:
#if we want to print tables of 3, 5, 9, 11 from 1 till 10:
for i in [3, 5, 9, 11]:
  for j in range(1, 11):
    print(i, 'x', j, '=', i*j)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

# Conditions

* if statements are used to give condition. When the condition is True than it prints the if statements.

* elif statements are used to give condition when if conditional statements are false.

* else statements are used to print those statements when if statements and else statements both are false.

**operators**

equality --> ==

not equal to --> !=

greater than or equals to --> =>

lesser than or equals to --> =<

greater than --> >

lesser than --> <

In [ ]:
name = 'Areeba'
if name == 'areeba':
  print('True')

elif name == 'Ariba':
  print('False')

else:
  print('error occured!')

error occured!

# Comprehensive list

In [ ]:
list5 = [i for i in range(1, 21)]
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#square root, using round function to round of
list6 = [round(i**(1/2)) for i in [4,9,16,25,36,49,64,81,100]]
print(list6)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list7 = [round(i**(1/2)) for i in [8,27,64,215,216,343,512,729,1000]]
print(list7)#cube root
print(type(list7))
print(len(list7))

[3, 5, 8, 15, 15, 19, 23, 27, 32]
<class 'list'>
9

In [ ]:
#y=mx+c, m = 3, c = 9
list8 = [(3)*x+9 for x in range(1,9)]
print(list8)
#output: the value of y

[12, 15, 18, 21, 24, 27, 30, 33]

# Define your own function

There are two types of functions in python,
Custom functions and build-in functions

* Custom functions : define by the user by the word *def*.

* Build-in functions : already define such as print()

In [33]:
#define a function
def even_odd(x1):
  if x1 % 2 == 0:
    print('your value is even')
  else:
    print('your value is odd')

#calling a function
print(even_odd(2))
even_odd(7)

your value is even
None
your value is odd

In [4]:
#import package as alias
import numpy as np

In [36]:
arr1 = np.array([1,2,3,4,5,6,7,8,9])
print(arr1)
print(type(arr1))

[1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>

In [2]:
#list of list
l1 = [[1,2,3], [4,5,6], [7,8,9]]
print(l1)
print(type(l1))
print(len(l1))
#acessing elements
print(l1[0])
print(l1[1])
print(l1[2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [5]:
arr2 = np.array([[1,2,3], [4,5,6], [7,8,9]])
print(arr2)#the same way printed more easily than acessing list.

[[1 2 3]
 [4 5 6]
 [7 8 9]]